* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;

}
a {
  text-decoration: none;
}


@media screen and (max-width: 1500px) {
  html {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1500px) {
  html {
    font-size: 1rem;
  }
}

